/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    background: black;
    
}


nav{
    width: 960px;
    height:40px;
    float: right;
 padding-right: 180px;
    }

nav ul{
    list-style-type: none;
}

nav li{
    float: right;
    padding:0 20px;
}

nav a{
    text-decoration: none;
    
    color: white;
}
nav a:hover{
    color:blue;
}


.stuff{

    width: 960px;
    height: 3055px;
    margin: 0 auto;
}

.night{
width: 960px;
height: 600px;
  
background-image: url(../img/night.jpg);
background-repeat: no-repeat;
background-size: 100%;
color: white;


}

h1{
padding-left: 150px;
padding-top: 200px;

}



.bottom{
    padding-left: 300px;
    color: white;
    margin: 40px; 
    text-align: justify;
    width: 960px;
        font-size: 15px ;

    }

   

    


.firsttext{
    color: white;
    padding-top: 10px;
   
    width: 960px;
    height: 58px;
    text-indent: 100px;
    background-color: #4A9BD5;
}

.big2{
width: 960px;
height: 678px;

background-image: url(../img/boat.jpg);
background-repeat: no-repeat;
background-size: 100%;
color: white;


}

.rightbottom{

    font: bold;
    color: white;
    width: 960px;
    text-align: center;
    padding-left: 150px;
    padding-top: 200px;



    }



    .topleft{
        color: white;
      padding-top: 50px;
       padding-left: 10px;
        font-size: 18px;
    }



    .pic1{
    background-image: url(../img/01.jpg);
    width: 480px;
    height: 356px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    float: left;
 



}




    .brown{

    color: white;
    padding-top: 220px;
    padding-left: 20px;
    font-size: 15px;

    }


    .pic2{

    background-image: url(../img/02.jpg);
     width: 480px;
    height: 356px;
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;


    


    }


.purple{
    color: white;
    padding-top: 270px;
    font-size: 15px;

}


.pic3{
    background-image: url(../img/03.jpg);
    float: left;
     width: 480px;
    height: 356px;
    padding-bottom: 50px;
    background-repeat: no-repeat;

}

.orange{
    
    color: white;
    padding-top: 260px;
   
    font-size: 15px;

}

.pic4{
    background-image: url(../img/04.jpg);
     width: 480px;
    height: 356px;
 float: right;
padding-bottom: 50px;
background-repeat: no-repeat;

}

.gray{
    color: white;
    padding-top: 260px;
    
    font-size: 15px;



}











.id{

padding-left: 5px;
color: white;
font: bold;
font-size: 40px;



}

.up{

    color: white;
    font: bold;
    font-size: 30px;


}
h6{
    color: white;
}
 



















form{

    padding-top: 100px;
    padding-left: 270px;
  padding-bottom: 100px;
     
    


    
}

button { 
background: #4A9BD5;

font-size: large;
border: none;
width: 200px;
right: 20px;
bottom: 20px;
color: #fff;
height: 35px;
border-radius: 35px;

}

#formLeft{
    width:220px;
    float:left;
    border:none;
    padding-top: 35px;
    color: #313234;

}


 input[type=checkbox] {
    zoom: 1.7;
}

#formBot{
    clear:both;
    border:none;
    padding-top: 15px;
    padding-bottom: 20px;


}

#buynow{
    
    
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}